!!!
html
	head
		title article.nakaji
		link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.4.0/build/cssbase/cssbase-min.css")
		link(rel="stylesheet", type="text/css", href="/css/common.css")
	body
		div.head
			h1
				a(href="/") article.nakaji
		div.content
			!= body
		div.foot
			
