h2 new article
form(action="/", method="POST")
	table()
		tr
			th
				label Title: 
			td
				input(name="title")
		tr
			th
				label URL Name:
			td
				input(name="url")
		tr
			th
				label tags
			td
				input(name="tags")
		tr
			th
				label is draft
			td
				input(name="draft",type="checkbox")
		tr
			th
				label Code:
			td
				textarea(name="code", rows="20", cols="100", style="width:600px;")
	
	input(type="submit", value="New")
