- if(!err)
	p new article posted
	a(href="/") top
	div
		h2 preview
		code
			!{doc.contents}
	div
		h2 contents
		code
			#{doc.contents}
	div
		h2 code
		code
			#{doc.contents}
- else
	p.error= err
	a(href="javascript:history.back();") back
