body {
    margin: auto;
    width: 940px;
    background-color: rgb(25,0,0);
    color:rgb(255,255,255);
    font-family: cursive;
}

div.head h1 a{
    font-family: 'Stardos Stencil', cursive;
    font-size: 48px;
    color:rgb(230,150,0);
}

div.content{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
    padding:10px;
}

div.side{
    background-color: rgb(220,200,150);
    padding:10px;
    color:rgb(255,100,0);
}

a{
    text-decoration: none;
}

a:link{
    color:rgb(0,0,220);
}

a:visited{
    color:rgb(0,0,150);
}

a:hover{
    text-decoration:underline;
}

p.error{
    border:solid 2px #ff0000;
    background-color: #ffaaaa;
}

/* index */
div.article{
    border-top: solid 2px;
    border-bottom: solid 2px;

}
h4{
/*    background-color:gray;*/
    border-bottom:dashed 1px;
}
