body {
    margin: auto;
    width: 940px;
    background-color: rgb(25,0,0);
    color:rgb(255,255,255);
    font-family: monospace;
}

div.head h1 a{
    font-family: 'Stardos Stencil', cursive;
    font-size: 48px;
    color:rgb(230,150,0);
}

div.content{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
    padding:10px;
}

div.side{
    background-color: rgb(220,200,150);
    padding:10px;
    color:rgb(255,100,0);
}

div.foot{
    background-color:rgb(30,0,0);
    color:rgb(150,100,50);
    text-align:center;
}

a{
    text-decoration: none;
}

a:link{
    color:rgb(0,0,220);
}

a:visited{
    color:rgb(0,0,150);
}

a:hover{
    text-decoration:underline;
}

p.error{
    border:solid 2px #ff0000;
    background-color: #ffaaaa;
}
dl.info{
    margin-bottom:30px;
}
dl.info dt{
  float: left;
  clear: left;
}
dl.info dd {
  margin-left: 7em;
}
dl.info dd ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl.info dd ul li{
  float: left;
  margin: 0;
  padding: 0;
  margin-right:1em;
}


div.contents{
    clear:both;
}

div.contents h3{
border-left:solid 5px rgb(220,200,150);
padding-left:5px;
}

/* index */
div.article{
    border-top: solid 2px;
    border-bottom: solid 2px;

}

div.article h4{
/*    background-color:gray;*/
    border-bottom:dashed 1px;
}

/*view*/
div.comment{

}
